manifest {
  // Read more at https://www.nextflow.io/docs/latest/config.html#config-manifest
  author = 'Unseen Bio ApS'
  description = 'Build a kraken2 database and bracken mappings from the HumGut genome clusters.'
  homePage = 'https://unseenbio.com'
  name = 'build-humgut'
  nextflowVersion = '!20.07+'
  version = '0.1.0'
}

process {
  withLabel: 'minimal' {
    cpus = 1
  }
}

profiles {
  conda {
    // Read more at https://www.nextflow.io/docs/latest/conda.html
    process.conda = 'environment.yml'
  }
}

params.tracedir = 'info'

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}
